PORT=App port (e.g., 3000)
host=App host (e.g., localhost)
NODE_ENV=Environment mode (development, production, etc.)
CORS_ORIGIN=Frontend base URL (e.g., http://localhost:5173)
CORS_CREDENTIALS=Creditials Contain Info (e.g., true or false)